* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /*list-style: none;   tomar en cuenta al momento de querer 
  usar listas enumeradas o vinetas  */ 
}

body {
  background-color: rgb(230, 230, 230);
}

.container {
  max-width: 600px;
  margin: auto;
}

h1{
  background: white;
  text-align: center;
  padding: 20px 0px;
}

.post{
  background-color: white;
  width: auto;
  margin: 25px 0 30px 0;
}

#header{
  display: flex;;
  padding: 15px 15px;
  flex-direction: row;
  justify-content: space-between;
}

#image img{
  width: 100%;
}

#description p{
  padding: 0px 15px;
  font-size: 0.8em;
}

#bodypost{
  margin-top: 10px;
  background: rgb(230, 230, 230);
}
