
body{
    margin: 0;
}
#titleBoos{
    font-size: 45px;
    text-align: center;
    width: 100vw;
}
#bodyPost{
  border: 1px solid red;
    width: 100vw;
    height: 100vh;;
    padding: 10px;
}
#post{
    width: 40px;

}
#header{
    display: flex;
}
#title{
    font-size: 50px;
    border: 1px solid blue;
}
#date{
    font-size: 50px;
    border: 1px solid blue;

}
#image{
    max-width: 100%;
    height: auto;
    border: 30px solid black;
}
#description{

}
